[2020-09-14 10:36] GraceJansen opened #51 "Feedback on Reactive Messaging Acknowledgement guide conversion to SNL"
- [x] Architecture diagram missing on first page —> remove reference to diagram as we will not be including it

- [x] Additional pre-reqs page not needed now

- [x] Missing this sentence —> The finish directory contains the finished project that you will build.

- [x] Not sure why this is there —> start/SystemService.java in the Choosing an acknowledgment strategy section?

- [x] POSTPROCESSING —>

[2020-09-14 13:26] jamiecoleman92 commented on #51
All issues expect the final one as that is an environmental issue should now be fixed. @GraceJansen please confirm when you have made your review.

[2020-09-16 10:17] GraceJansen opened #52 "Feedback for Testing reactive java microservices lab"
- [ ] Incorrect path given - under the _Configuring your containers_ section this path is incorrect: cd guide-reactive-service-testing/start/system --> It should be instructing the user to cd into the inventory directory not the system directory

[2020-09-16 10:25] GraceJansen commented on #51
- [ ] POSTPROCESSING and PREPROCESSING are still not formatted correctly (I've attached what they should look like from the OpenLiberty guide website and what they look like in SNL atm for reference).
<img width="535" alt="Screenshot 2020-09-16 at 11 19 36" src="https://user-images.githubusercontent.com/32962135/93325052-9ddda280-f80e-11ea-85a3-dd9bc52303ae.png">

<img width="458" alt="Screenshot

[2020-09-16 10:51] GraceJansen opened #53 "Feedback for Consuming RESTful services using the reactive JAX-RS client lab"
What you'll learn
--------------------
- [x] Not formatted correctly --> Youll first look at the supplied client application that uses the JAX-RS default **CompletionStage**-based provider. Then, youll mo --> should just be the completionstage that's formatted differently, all the rest should be normal text

- [x] Remove pre-req section, not needed for snl

--------
Creating a web client using the

[2020-09-30 10:59] jakub-pomykala commented on #51
Done

[2020-09-30 10:59] #51 closed

[2020-09-30 11:01] jakub-pomykala commented on #53
Changes done and tested.

[2020-09-30 11:01] #53 closed

[2020-09-30 11:09] jakub-pomykala opened #61 "Check if its possible for GuideConverter to convert images instead of removing them"
At the moment the GuideConverter removes the image and the reference to that image. Would be good checking how images would look on SNL. If they look okay, it might be worth getting the GuideConverter to keep the images. instead.

[2020-09-30 12:44] #52 closed

[2020-10-05 20:10] gkwan-ibm opened #70 "Gilbert's review feedback"
- GuideConverter.java
  - Need license comment in the java file
  - Better not hard code the string but read the adoc files from the guides-common repository
    - generic code to read adoc file
  - `writeToFile()` is not efficient to open, write, and close the .md file. Either
    - write the content to a string buffer/stream, at end write the string buffer/stream to the .md file
    - or open th

[2020-10-05 20:18] yeekangc opened #71 "Externalize text"
Can we externalize text to a separate properties files (or whatever equivalent or appropriate) so we don't have to hard code and they can be updated without needing to recompile code?

@jamiecoleman92 @gkwan-ibm

[2020-10-05 20:20] yeekangc opened #72 "Consider template-based approach to conversion?"
It appears that we program the conversion logic in code.

Can we consider a more template-based approach?  And, are there tools that can help in such regards with AsciiDoc to MD conversion?

@jamiecoleman92 @gkwan-ibm

[2020-10-08 13:52] austin0 opened #73 "Update and convert guide-reactive-rest-client"
The lab for guide-reactive-rest-client seems to be quite out out of date and has errors that are fixed in the current version, it also seems to have been converted with an old version of the tool so could use a refresh to fix a number of syntax errors.

Link to guide: https://github.com/openliberty/guide-reactive-rest-client

@jakub-pomykala can this be a situation to test the automation bot?

[2020-10-08 13:54] jakub-pomykala commented on #73
Atm the GuideConverter is going under some major surgery. The automation won't be tested for a while. If it's very out of date might be worth updating it manually for now. @jamiecoleman92

[2020-10-08 15:07] austin0 commented on #73
https://github.com/OpenLiberty/quick-labs/pull/74 opened to fix identified issues.

[2020-10-16 13:52] #73 closed

[2020-11-11 21:54] jakub-pomykala commented on #70
Closing as GuideConverter has been changed.

[2020-11-11 21:54] #70 closed

[2020-11-11 21:56] jakub-pomykala commented on #71
This has been done with the new GuideConverter

[2020-11-11 21:56] #71 closed

[2020-11-12 19:03] AustinSeto opened #98 "Text Errors in modules"
In [Module 1](https://labs.cognitiveclass.ai/tools/theiadocker/?md_instructions_url=https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/creating-reactive-microservices-using-microprofile-reactive-messaging-with-docker/instructions.md) in the Reactive Java Workshop I found some errors in the text.

***

At the end of step 2 there is this text

The sentence doesn't work and it looks l

[2020-11-27 10:35] #98 closed

[2020-12-15 15:20] gkwan-ibm opened #169 ""null" text at the bottom of the landing page"
There is a "null" text at the bottom (under the time) of the landing page and the `Access Cloud-Hosted Guide` button at the top
![Screen Shot 2020-12-15 at 5 06 15 PM](https://user-images.githubusercontent.com/29576299/102278473-dff2af00-3ef7-11eb-9672-08907cc5edd7.png)

but in staging SN the button at the bottom
![Screen Shot 2020-12-15 at 5 06 47 PM](https://user-images.githubusercontent.com/295

[2020-12-15 15:23] gkwan-ibm opened #170 "Should not use austin0 for Github login"
When use Github login, I found "Open Liberty SkillsNetwork by austin0". Should not use austin0.

![Screen Shot 2020-12-15 at 10 21 09 AM](https://user-images.githubusercontent.com/29576299/102234746-98e8c780-3ebf-11eb-9623-791d409d8155.png)

[2020-12-15 15:29] jamiecoleman92 commented on #169
This is the bug I mentioned in the scrum @gkwan-ibm when you are logged out. We have a fix it just needs to be implemented.

[2020-12-16 11:10] jamiecoleman92 commented on #169
This issue has now been resolved so I am closing this issue.

[2020-12-16 11:10] #169 closed

[2020-12-16 17:05] austin0 commented on #170
This has been corrected and the OAuth App is now owned by the OpenLiberty org.

[2020-12-16 17:05] #170 closed

[2020-12-17 16:06] gkwan-ibm opened #185 "OL branding at the top of the cloud-hosted guide"
Need to add an OL branding (image) at the top of the cloud-hosted guide

[2020-12-17 16:29] yeekangc opened #186 "Rename repo when ready"
Rename "quick-labs" to "cloud-hosted-guides" when ready to be consistent with formal name and other repo(s).

[2020-12-22 18:16] gkwan-ibm opened #195 "Improve the sign in page"
- [x] The height of the email and password text fields are too much. They can be thinner.
- [x] The sign in button font is too big too
- [x] the font size of all text should be same except the title
- [x] The title "Sign in" and the sign in button look duplicated

![Screen Shot 2020-12-22 at 1 13 25 PM](https://user-images.githubusercontent.com/29576299/102919897-aa9a1400-4457-11eb-9171-2f193a6ea1

[2021-01-12 15:34] jamiecoleman92 commented on #195
Hey @gkwan-ibm
From what I can see the above matches what we agreed upon in the design. Do you want us to make changes to the design?

Here is the agreed upon design:
![image](https://user-images.githubusercontent.com/14291840/104335848-aeb3d180-54eb-11eb-9189-37a26e4b6a7b.png)

[2021-01-12 19:25] gkwan-ibm commented on #195
Based on the actual login page,
- I still feel the text font for "Email", "The email address ....", "Password" is a bit small. Can make them bigger as the font of "First time here?" or "Remember me"?
- I suggest the title to be "Sign in to Open Liberty SkillsNetwork" instead of just "Sign In"

[2021-01-13 11:58] austin0 commented on #195
Changed title to 'Access Cloud Hosted Guides' and made text slightly larger.

[2021-01-13 15:59] AustinSeto opened #243 "Invalid markdown instructions"
Accessing tutorial catalogue at https://ide.skillsnetwork.site/open-liberty-tutorial-catalogue I try to open a module and receive the following error in the Open Liberty Masterclass Modules

[code]

Encountered on [Module 1 (Build)](https://labs.cognitiveclass.ai/tools/theiadocker/?md_instructions_url=https://raw.githubusercontent.com/OpenLiberty/quick-labs/master/instructions/openliberty-mastercl

[2021-01-14 09:42] jakub-pomykala commented on #243
@AustinSeto the links you have posted, where did you get them from? We have never seen them before. All the masterclasses can be found [here](https://ide.skillsnetwork.site/open-liberty-workshop)

[2021-01-14 13:51] jakub-pomykala commented on #243
This issue has been found in one of the masterclasses. All the masterclasses should now be fully functional. Closing issue.

[2021-01-14 13:51] #243 closed

[2021-01-14 14:42] gkwan-ibm commented on #185
- will be addressed by SN team

[2021-01-14 14:43] gkwan-ibm commented on #195
- will be addressed by SN team

[2021-01-15 14:18] austin0 commented on #186
Repo renamed, closing.

[2021-01-15 14:18] #186 closed

[2021-01-18 15:21] griffinhadfield opened #266 "Can't copy and paste into editor on Linux"
When trying to copy the new code from the left pane into the editor on the right, the error message pops up:
<img width="822" alt="Screenshot 2021-01-12 at 2 17 03 PM" src="https://user-images.githubusercontent.com/38739044/104363375-16b1ea00-54e3-11eb-8172-75e11d556727.png">

I am able to successfully copy and paste into the terminal, the issue is only with the editor. Also, if I copy using the b

[2021-01-21 14:55] jakub-pomykala opened #288 "fix issue with "sign in" for Linkedin"
When a user logins in using Linkedin and instead of creating a new account presses "sign in" (temporarily disabled) it doesn't render properly.

[2021-01-25 14:22] jakub-pomykala opened #314 "Issue with GitHub/LinkedIn login on the Portal"
When @austin0 and myself try to login using Github/LinkedIn it requests our email address. This is some kind of a bug that is not major but should be looked into further. This has been tested with a number of different users and it only has happened to us till this date.

Example outcome of signing in with LinkedIn bellow:
![Screenshot 2021-01-25 at 14 10 07](https://user-images.githubusercontent.

[2021-01-25 14:29] jakub-pomykala opened #315 "Move custom CSS and JS over to this repository"
For the previous time the custom CSS and the JS have been stored in Daniels personal repo. However we should move this over to this repo and also consider moving over the whole eDX theme and store it here.

[2021-01-25 14:31] jakub-pomykala commented on #315
The custom CSS and JS has now been merged into prod in a new dir called "Portal-Assets". Just waiting on switching over the eDX to get the source code from here instead of Daniel's repo

[2021-01-28 10:29] jakub-pomykala opened #333 "JS code in OpenLiberty login page is running on a setTimeOut()"
The only way the JS is always running is when it is running on a `setTimeOut()`. This has to be changed ASAP as it could cause problems for users in the future. The reason why it is using `setTimeOut()` is because `document.addEventListener("DOMContentLoaded", function()` nor `window.addEventListener("load", function()` did not work and caused the JS to load before the HTML/window finished loading

[2021-01-28 19:40] gkwan-ibm opened #341 "Login page need more information"
Implement the new design as
![Screen Shot 2021-02-22 at 3 36 54 PM](https://user-images.githubusercontent.com/29576299/108767059-eb7bdb00-7523-11eb-8612-e0fbabe6f7b9.png)

[2021-01-28 19:44] gkwan-ibm commented on #341
@yeekangc @jamiecoleman92 @jakub-pomykala @austin0

[2021-01-28 22:46] marikaj123 opened #343 "Unclear Reference to "Terminal""
Which Terminal are you referring to the OS or the one in the right panel?
For more than one terminal can we number them to make it easier to refer to which one we are talking about?

[2021-01-29 00:28] marikaj123 opened #344 "Reset Password"
I did not see a link for reset in the email.  I am not clear how the technical support works.
---------------------
Check Your Email

You entered If this email address is associated with your Open Liberty Hands On account, we will send a message with password recovery instructions to this email address.

If you do not receive a password reset message after 1 minute, verify that you entered the cor

[2021-01-29 19:20] yeekangc commented on #344
Yes, this needs to be addressed, a must fix.  It's confusing.

[2021-01-29 19:22] yeekangc commented on #341
We need to review the whole login flow -- including alternate flows like what is noted in #344 -- to ensure that the users are clear as to what is needed and not.

[2021-01-29 21:30] gkwan-ibm commented on #314
Marika, Charlotte, and Gilbert encountered the same issue with Github account

The worst thing is if the email address was already registered in SN, no way to create the account. I guess users need to login  SN by the email and then manually link the social account. This experience is a resistant of using the cloud-hosted guides.

[2021-01-29 21:33] gkwan-ibm commented on #195
close
- addressed listed issues
-  other login page issues will by #314 #341

[2021-01-29 21:33] #195 closed

[2021-01-29 21:34] gkwan-ibm commented on #185
close
- OL image was added to different pages

[2021-01-29 21:34] #185 closed

[2021-01-29 22:11] gkwan-ibm opened #347 "The term should be consistent"
The following terms are used in different pages.
- Open Liberty SkillsNetwork (in login page, github signin page)
- Open Liberty Skills Network (in login page)
- skillsnetwork.site (google signin page)
- Open Liberty Skills Network Portal (logout page, home page)
- Open Liberty Hands On (SN account page)

Need to be consistent

[2021-02-01 11:36] jakub-pomykala opened #349 "Privacy policy warning"
Talk to Skills Network about the warning message pointed out by Gilbert. See if possible to either remove or move to privacy policy.

[2021-02-04 16:07] jamiecoleman92 opened #364 "Fix course view layout"
After doing some experimenting with the course view I noticed some of the layout needs correcting. This will probably need a redesign for some aspects such as the header and footer although the actual course may not be configurable. This may be a bigger piece of work but as a min we need to make sure the header and footer are readable and in some kind of order unlike the image below:
![image](http

[2021-02-12 21:18] gkwan-ibm opened #393 "Feedback for kubernetes-intro guide"
- **Starting and preparing your cluster for deployment**
  - [ ] `minikube start` not work
    - Does SN lab support minikube or DockerDesktop?

[2021-02-12 21:26] gkwan-ibm opened #394 "Feedback for microprofile-health guide"
- [x] the landing page is almost empty at the landing page and wrong
  - ![Screen Shot 2021-02-12 at 4 25 53 PM](https://user-images.githubusercontent.com/29576299/107824189-0b0a4b00-6d4f-11eb-8644-d57cb112e297.png)

[2021-02-17 21:04] gkwan-ibm opened #431 "Revisit touch vs new file"
Need to revisit the following
![Screen Shot 2021-02-17 at 4 04 01 PM](https://user-images.githubusercontent.com/29576299/108267887-c8bf8000-7139-11eb-88d8-1225b18ec0e9.png)
vs
![Screen Shot 2021-02-17 at 4 05 10 PM](https://user-images.githubusercontent.com/29576299/108268002-f0164d00-7139-11eb-8a29-10f7f6712ca2.png)

[2021-02-18 14:12] gkwan-ibm commented on #394
close
- fixed

[2021-02-18 14:12] #394 closed, assigned to nobody

[2021-02-22 20:39] gkwan-ibm opened #447 "Enhance the create account page"
Implement the new design of the create account page as following:
![Screen Shot 2021-02-22 at 3 39 19 PM](https://user-images.githubusercontent.com/29576299/108767230-2ed64980-7524-11eb-9e8c-2388e6405e0f.png)

[2021-02-22 20:48] gkwan-ibm opened #448 "Landing and password recovery pages"
Both Landing and password recovery pages should look likes as:

![Screen Shot 2021-03-24 at 3 49 02 PM](https://user-images.githubusercontent.com/29576299/112374482-8a792b80-8cb8-11eb-950b-b0516dde6bf8.png)

![Screen Shot 2021-02-22 at 3 48 09 PM](https://user-images.githubusercontent.com/29576299/108768266-701b2900-7525-11eb-9323-e322e7b40ad3.png)

[2021-02-22 20:55] gkwan-ibm opened #449 "Create the landing pages for the 3rd set of guides"
- [x] microprofile-istio-retry-fallback
- [x] microprofile-jwt
- [x] microprofile-metrics
- [x] microprofile-openapi
- [x] microprofile-reactive-messaging-acknowledgment
- [x] microprofile-reactive-messaging-rest-integration
- [x] microprofile-rest-client-async

[2021-02-23 13:42] jakub-pomykala opened #450 "Automation of creation of landing pages"
At this moment Landing pages have to be created manually. However (if landing pages will still be used), it would be a good idea to automate this process using github actions and requests.

[2021-02-23 15:32] jakub-pomykala opened #451 "New terminal output example for starting liberty in dev mode."
We have implemented a manual fix for the output example of terminal when user runs:
[code]

Previously the output example was
[code]

But now the output example is:
[code]

[2021-02-23 15:38] jakub-pomykala opened #452 "Manually added "Tearing down the environment" section"
This section has been manually added to guide-reactive-service-testing.

[2021-02-23 15:53] jakub-pomykala opened #453 "Package issue in cloud-hosted-guides"
In some cases, after a user clones and opens the guide in the IDE they can see loads of red files with an warming/error of "Incorrect Package Name".

e.g.
This is the issue:
![Screenshot 2021-02-23 at 15 50 53](https://user-images.githubusercontent.com/56261244/108869468-2565e380-75ef-11eb-9b57-53308ad472a0.png)

This is what the issue causes:
![Screenshot 2021-02-23 at 15 50 57](https://user-imag

[2021-02-23 16:06] jamiecoleman92 commented on #453
This has caused attendees of workshops to think their code is broken and without me there to tell them it is a known bug they may not finish the guide so this should be fixed asap. I think it is most likely something the SN team will need to fix @gkwan-ibm.

[2021-02-23 16:10] jakub-pomykala opened #454 "Step 7 in Reactive microservices with MicroProfile Reactive Messaging curl command takes a long time"
The curl command in step 7 takes a while to run. We should add a text to the static guide which will let users know that this command will take a while to run.

[2021-02-23 16:15] gkwan-ibm commented on #453
I doubt it can be fixed by in the lab. Of course, we can ask SN team input.
We can also consider to ask users to close and reopen the workspace to the start directory
or study how to add source path into the IDE

[2021-03-03 13:30] austin0 commented on #449
microprofile-istio-retry-fallback
--------------
Prod: https://openliberty.skillsnetwork.site/quicklab/cloud-hosted-guide-microprofile-istio-retry-fallback

Staging: https://openliberty.skillsnetwork.site/quicklab/cloud-hosted-guide-microprofile-istio-retry-fallback-staging

microprofile-jwt
--------------
Prod: https://openliberty.skillsnetwork.site/quicklab/cloud-hosted-guide-microprofile-jwt

S

[2021-03-03 13:30] #449 closed, assigned to austin0

[2021-03-11 15:06] gkwan-ibm opened #577 "Improve the refresh infrastructure/mechanism"
Every time commit a PR, all guides will be triggered to refresh. It slows down the SN.
Need to improve the refresh infrastructure/mechanism
- when merge a PR, only refresh 1 guide in SN, now refresh all guides
- PR not for guide, should not refresh SN

[2021-03-11 18:02] gkwan-ibm opened #583 "Set up another SN portal for development"
The production portal should only have production guides. No development work.

The staging portal should be used as development purpose for guides, converter,  front-end, and even SN and quicklab update

[2021-03-11 21:26] gkwan-ibm commented on #447
The create account page was prototyped and need to polish the following:
- [x] give some space at the right of the sign in buttons (the problem similar to following screenshot). This problem only occurs at Firefox
  - ![Screen Shot 2021-03-08 at 9 04 13 AM](https://user-images.githubusercontent.com/29576299/110854233-a7f2d200-8282-11eb-9992-24af1b5bb74d.png)
- [ ] May the `(required!)`  be black n

[2021-03-11 21:33] gkwan-ibm commented on #341
The login page was prototyped and need to polish the following:
- [x] give some space at the right of the sign in buttons. This problem only occurs at Firefox
  - ![Screen Shot 2021-03-08 at 9 04 13 AM](https://user-images.githubusercontent.com/29576299/110854233-a7f2d200-8282-11eb-9992-24af1b5bb74d.png)
- [x] the "Gitter for Open Liberty" and the "Groups.io" links at the bottom should open the ur

[2021-03-11 22:00] gkwan-ibm opened #584 "Home page"
Need to discuss and design the home page

[2021-03-12 18:46] tt-le opened #590 "Microprofile-opentracing-jaeger feedback"
Step 6 has the fonts going into very small for this part.
<img width="789" alt="Screen Shot 2021-03-12 at 1 27 58 PM" src="https://user-images.githubusercontent.com/44335153/110982630-c4504680-8336-11eb-9627-fc72f5c34b49.png">

Overall, I think that the text hierarchy could be improved. In step 6, it a little bit hard to see quickly when we are switching to a new instruction.

[2021-03-15 14:46] gkwan-ibm opened #591 "Backup and restore"
OL SN is using custom configuration. Need a backup and restore plan in case to rebuild it. e.g.
- use lms-yyyymmdd.zip
- backup the lms-yyyymmdd.zip in this repo

[2021-03-15 17:59] tt-le opened #592 "microprofile-jwt feedback"
## Step 3

- [ ] The formatting of the table is a bit off. Maybe put spaces between `username` `roles` `password`
<img width="705" alt="Screen Shot 2021-03-12 at 4 23 34 PM" src="https://user-images.githubusercontent.com/44335153/111000029-4d737780-834f-11eb-90d6-d62514668363.png">

## Step 7
- [ ] <img width="1111" alt="Screen Shot 2021-03-15 at 1 47 34 PM" src="https://user-images.githubusercont

[2021-03-15 18:47] tt-le opened #593 "containerize guide"
## step 7

<img width="700" alt="Screen Shot 2021-03-15 at 2 43 55 PM" src="https://user-images.githubusercontent.com/44335153/111204826-dfbc8b00-859c-11eb-8676-2f7f523a9a53.png">

- [x] The command should be `curl http://localhost:**9091**/inventory/systems/{$SYSTEM_IP}`

- [ ] The text before this command tells you to get use the previously found IP, so I think we should either remove ```SYSTEM_

[2021-03-15 20:21] AustinSeto opened #594 "guide-getting-started feedback"
- In step 4, the `cd` command to /home/project is not necessary at that part of the guide yet
  - Side note, `/home/project` seems to be the home directory that the user will start in when they open a new terminal, is asking the user to navigate to this directory necessary if they're already there when a new terminal is opened?
- In step 6, the `<logging>` tag is included in the `server.xml` chang

[2021-03-15 20:52] gkwan-ibm commented on #594
server.xml in step 6 should be
[code]
and in step 8
[code]

[2021-03-15 21:35] gkwan-ibm commented on #592
- step 3 is cosmetic, not fix in this cycle, and hope it will be addressed when implement the static guide look
- cannot reproduce step 7
-  VSCode in the lab does not have `code` command and `Cmd + click` not good enough

[2021-03-17 15:11] #590 closed, assigned to nobody

[2021-03-17 18:57] gkwan-ibm opened #706 "Maintain the courses landing pages"
- is it possible to generate landing pages?
- define the content of the landing pages
- how to back them up?
- how to restore them?
- how to update them?

[2021-03-18 13:48] dmuelle opened #716 "Register and Login pages: ID review"
Suggested edits for register and Login pages:

## Register page

We will send you an account activation email. You can sign into the cloud-hosted guides next time, after you activate your account through that email.
--->
When you create an account, we send you an account activation email. You can sign in to the cloud-hosted guides after you activate your account through that email.

If the provide

[2021-03-18 17:06] gkwan-ibm commented on #716
close
- both pages were updated

[2021-03-18 17:06] #716 closed, assigned to nobody

[2021-03-18 17:09] gkwan-ibm commented on #447
The page was reviewed by ID #716

[2021-03-18 17:09] gkwan-ibm commented on #341
The page was reviewed by ID #716

[2021-03-22 21:21] gkwan-ibm opened #737 "Set up more development quicklabs"
create more development quicklabs as https://github.com/OpenLiberty/cloud-hosted-guides/blob/staging/instructions/cloud-hosted-draft-guide-development/instructions.md
- include to update the github action(s)

e.g. `cloud-hosted-draft-guide-development-1`, `cloud-hosted-draft-guide-development-2`, `cloud-hosted-draft-guide-development-3`

[2021-03-25 13:16] jakub-pomykala commented on #448
Once Liquid themes is fully functional we will be able to change both the header and the footer. However, tested themes this morning and still not working

[2021-03-25 13:18] jakub-pomykala commented on #583
Implemented the same Open-Edx theme and also all the CSS and JS to run just like in the Production portal. However instead of CSS and JS to run from the cloud-hosted-guides prod branch we have set it up to temporarily run from my fork ([here](https://github.com/jakub-pomykala/cloud-hosted-guides?organization=jakub-pomykala&organization=jakub-pomykala)). This allows us to do quick changes to both f

[2021-03-25 13:22] jakub-pomykala commented on #583
Things left to do till staging env is completed (in prioritised order):

- [x] Add all staging guides
- [x] Add SSO login
  - [x] Add all SSO buttons in courses admin portal (Do this by copying config from prod courses admin panel and set up in the exact same way) :
    - [x] Github
    - [x] Gmail
    - [x] LinkedIn
    - [x] IBMid
  - [x] Change providers settings to have two URIs (for both prod

[2021-03-25 19:08] gkwan-ibm opened #753 "Unlink account error"
When unlink an account, got following error

![image](https://user-images.githubusercontent.com/29576299/112529688-f1abe400-8d7b-11eb-8743-5f256e52ceb6.png)

This problem was also reported at https://github.ibm.com/skills-network/portals/issues/1724

[2021-03-25 19:56] AustinSeto opened #754 "guide-microprofile-reactive-messaging-acknowledgement feedback"
- [ ] Bullet point sections appear as code blocks
- [ ] Some strange formatting with the `curl` commands, tried to fix with PR
  - https://github.com/OpenLiberty/guide-microprofile-reactive-messaging-acknowledgment/pull/63

[2021-03-29 08:30] jakub-pomykala commented on #737
We now have 4 development quicklabs available

[2021-03-29 08:30] #737 closed, assigned to jakub-pomykala

[2021-03-31 12:21] jakub-pomykala commented on #448
Liquid theme is now functional. I have implemented the two logos. Just waiting on some help in regards to the userdrop down menu which has been pushed out of the header due to the two logos

[2021-03-31 13:45] AustinSeto commented on #754
PR resolved issues

[2021-03-31 13:45] #754 closed, assigned to nobody

[2021-03-31 14:49] jakub-pomykala commented on #448
Header is now fully functional.

[2021-04-05 20:57] AustinSeto commented on #393
Addressing with https://github.com/OpenLiberty/guide-kubernetes-intro/pull/166, skills network will not use Minikube

[2021-04-07 17:30] gkwan-ibm opened #814 "Can logout from the landing page redirect back to the openliberty.io?"
When users logout from landing page, SN should redirect them back to the openliberty.io/guides

[2021-04-08 14:51] jakub-pomykala commented on #814
Done

[2021-04-08 14:55] gkwan-ibm commented on #814
@jakub-pomykala
redirect to https://openliberty.io/guides not https://openliberty.io

[2021-04-08 14:55] jakub-pomykala commented on #814
Sorry closed the issue to quick, it is done on staging anyway, have not moved over to prod

[2021-04-08 15:12] jakub-pomykala commented on #814
Now points to https://openliberty.io/guides

[2021-04-08 21:15] gkwan-ibm opened #818 "Can the lab have a browser viewer?"
Ideally, if the lab (IDE) have a browser viewer, users can access e.g. http://localhost:9080/inventory/systems directly instead of by curl

If not, consider rewrite the guides to access the urls from the index.html

[2021-04-08 21:44] gkwan-ibm commented on #818
QuickLab/guidedProject contains 2 panes. Left pane is for instructions and right pane is a vscode IDE. There is no vscode extension as a view inside IDE that can view html or visit url

[2021-04-09 10:29] jakub-pomykala commented on #591
We now have a backup of both with date in the git repo

[2021-04-09 10:29] #591 closed, assigned to jakub-pomykala

[2021-04-09 10:30] jakub-pomykala commented on #814
Need to update prod lms to enable on production

[2021-04-09 10:31] jakub-pomykala commented on #448
Footer now been updated aswell. I think after pushing new theme to prod we should be able to close issue

[2021-04-09 10:34] austin0 commented on #344
I have correctly received a password reset email at the registered email address. When viewed in IBM Verse the password list in the same white colour as the background so can be difficult to notice, however the Skills Network team are aware of this issue.

[2021-04-09 10:42] jakub-pomykala commented on #347
Changed the welcome/home page and confirmed with @austin0 that that was the last one to be changed

[2021-04-09 10:42] #347 closed, assigned to jakub-pomykala

[2021-04-09 10:42] austin0 commented on #314
Linked in login is functionally working but still has cosmetic issues that are proving difficult to solve.

When logging in via a SSO provider the login page reformats itself to remove said providers, this causes our styling to break.

[2021-04-09 10:44] austin0 commented on #753
Unlinking accounts is functional, even though the error is presented the account is correctly unlinked. Refreshing the page reflects this and shows the account is unlinked.

[2021-04-09 10:45] austin0 commented on #341
Closing as pages have been updated.

[2021-04-09 10:45] #341 closed, assigned to austin0

[2021-04-09 10:46] austin0 commented on #447
Page has been updated and reviewed again, closing.

[2021-04-09 10:46] #447 closed, assigned to austin0

[2021-04-09 10:47] austin0 commented on #583
Added SSO providers, need to set up new credentials so that they redirect to the staging environment.

[2021-04-09 10:48] austin0 commented on #288
Closing as duplicate of https://github.com/OpenLiberty/cloud-hosted-guides/issues/314.

[2021-04-09 10:48] #288 closed, assigned to austin0

[2021-04-09 20:18] gkwan-ibm opened #820 "Can the code block not wrap long lines?"
On the left instruction pane, the code block better do not wrap long lines, instead, have a horizontal scroll bar to allow users to view the content

[2021-04-09 20:21] gkwan-ibm commented on #344
@austin0 is there an issue opened? Would you post the link in this issue?

[2021-04-09 20:51] gkwan-ibm opened #822 "Prepare the landing pages"
Make all 21 guides landing pages have the production content and same in both new staging SN and production SN

[2021-04-12 16:50] gkwan-ibm commented on #393
close
- addressed by OpenLiberty/guide-kubernetes-intro#166

[2021-04-12 16:50] #393 closed, assigned to AustinSeto, gkwan-ibm

[2021-04-13 18:22] gkwan-ibm commented on #814
close
- problem was resolved

[2021-04-13 18:22] #814 closed, assigned to jakub-pomykala

[2021-04-13 18:23] gkwan-ibm commented on #448
close
- implemented the design in the staging and prod SN

[2021-04-13 18:23] #448 closed, assigned to jakub-pomykala

[2021-04-13 18:26] gkwan-ibm commented on #584
close
- implemented the home page with a simple message

[2021-04-13 18:31] gkwan-ibm opened #828 "Correct SSO setting"
- [x] Github
  - the OAuth app name should change to "IBM Developer Skills Network - Open Liberty" instead of "Open Liberty SkillsNetwork"
- [x] Google
  - skillsnetwork.site maybe fine but the email "openlibertyproject@gmail.com" have to be changed

[2021-04-13 21:02] gkwan-ibm commented on #828
fixed the Github SSO

[2021-04-13 21:45] gkwan-ibm opened #829 "Logout from the lab should redirect to a better page"
If users logout from the lab, lab will redirect to `https://labs.cognitiveclass.ai/login?logout=true`. It is better to redirect to the landing page or openliberty.io/guides

[2021-04-14 11:10] jamiecoleman92 commented on #584
The home page and welcome pages need to be changed as they currently contain an old workshop. Not only do we need a new title but we need a link or a message explaining how to access the content via either a link or by sending the user back to the openliberty.io site.

[2021-04-14 13:07] austin0 commented on #344
Already open issue: https://github.ibm.com/skills-network/portals/issues/1974

[2021-04-14 14:14] gkwan-ibm opened #830 "Document the set up of all SSO"
Create a document for the set up of all SSO.
- [x] Github
  - who can update the OAuth app?
  - how to configure the SN portal?
- [x] Google
   - gmail id and who owns password
   - how to set up in [Google API Console](https://console.developers.google.com/)?
   - how to configure the SN portal?
- [x] IBM ID
   - whatever
   - how to configure the SN portal?
- [x] LinkedIn
   - whatever
   - how

[2021-04-14 21:30] gkwan-ibm commented on #828
it is ok to use openlibertyproject@gmail.com for google sso

[2021-04-14 21:30] gkwan-ibm commented on #828
close
- both SSO were addressed

[2021-04-14 21:30] #828 closed, assigned to gkwan-ibm

[2021-04-16 16:27] gkwan-ibm opened #843 "Update the trigger yml files at Examples"
Update following files for the right branches and ref at the bottom
- Examples/triggerConversion.yml
- Examples/draftTriggerConversion.yml

[2021-04-19 15:14] austin0 commented on #583
Staging content has been removed from the prod portal.

Google/IBMid SSO needs fixing on the staging portal.

[2021-04-20 13:35] austin0 commented on #583
Google and IBMid SSO applications have been updated to accept `ol-staging` redirect urls.

[2021-04-20 16:09] jakub-pomykala commented on #453
https://github.ibm.com/skills-network/portals/issues/2033 Issue on the SN backlog

[2021-04-21 08:30] #583 closed, assigned to austin0, jakub-pomykala

[2021-04-21 08:31] austin0 commented on #822
The final 5 guides have had landing pages created on the production and staging portals, pending review.

[2021-04-21 08:33] austin0 commented on #753
Associated Skills Network issue: https://github.ibm.com/skills-network/portals/issues/1724.

[2021-04-21 08:37] austin0 commented on #818
This functionality already exists, clicking "Launch Application" at the top of the IDE will open a new tab showing the content being hosted on the specified port.

This isn't referenced anywhere within the guides so may be beneficial to have the converter make a mention of in the introduction.

[2021-04-21 08:42] austin0 commented on #577
The current infrastructure will only mirror the content of `cloud-hosted-guides` if it differs to the version stored on the Skills Network repositories.

I will look at updating the mirror scripts to only run when changes are made to guides (as opposed to workflows/example files).

[2021-04-21 10:04] jakub-pomykala commented on #843
@gkwan-ibm could you please review these two PRs

[2021-04-21 10:15] jakub-pomykala commented on #315
Closing issue as we have moved this over inside the LMS.zip

[2021-04-21 10:15] #315 closed, assigned to jakub-pomykala

[2021-04-21 13:14] #843 closed, assigned to jakub-pomykala

[2021-04-21 13:42] gkwan-ibm commented on #822
close
- all landing pages in  both new staging SN and production SN were checked

[2021-04-21 13:42] #822 closed, assigned to austin0

[2021-04-21 13:57] gkwan-ibm commented on #818
This requirement is not what the "Launch Application" provides.

Ideally, no need to convert any `http://localhost:9080/...` links. Users can directly click on the link to visit the url, instead of using curl command

[2021-04-22 14:26] austin0 commented on #830
SSO documentation in progress: https://ibm.ent.box.com/notes/802623150292

[2021-04-27 13:22] austin0 commented on #830
Documentation now covers all the current SSO providers with links to associated documentation. It also lists the people with access to make changes to the current SSO applications.

[2021-04-27 13:22] #830 closed, assigned to austin0

[2021-04-27 15:20] austin0 commented on #584
Home page has been updated on staging: https://ol-staging.skillsnetwork.site/

Pending ID review then will be made live on production.

[2021-04-27 15:59] austin0 opened #867 "Set the guides on the prod SN to private"
Guides on the production/staging SN portal must be set to private to match the currently chosen user flow.

[2021-04-27 17:26] gkwan-ibm commented on #584
close
- ID reviewed
- backup at Portal-Assets/pages/home-page.md
- PR #868, #869

[2021-04-27 17:26] #584 closed, assigned to austin0

[2021-04-27 21:02] gkwan-ibm commented on #344
I cannot reproduce the problem on gmail. Except reset password for the account created by 3rd-party SSO.

[2021-04-28 08:24] jakub-pomykala opened #870 "Run tests on Login flows and get user feedback"
Get users to run through the two possible login flow options which we have and ask which one they would prefer.

The two possible options are:

- 1) OL.io site -> login page -> landing page -> lab
- 2) Ol.io site -> landing page -> login page -> lab

This has been discussed with Gilbert, YK and Jamie and we will go live with option 1 however as soon as possible we would like to revisit this issue

[2021-04-28 10:22] jakub-pomykala commented on #867
Done

[2021-04-28 10:22] #867 closed, assigned to jakub-pomykala

[2021-04-28 12:56] gkwan-ibm commented on #870
Current and alternative designs at https://ibm.ent.box.com/file/804906677417

[2021-04-29 14:17] gkwan-ibm commented on #344
need to try on other mail provider
IBM verse not work

[2021-04-29 14:27] gkwan-ibm commented on #453
temporary workaround to ask users to logout the quicklab, but it is performance issue if do logout

@jakub-pomykala can you ask how to clean the env without logout as a temp workaround?

[2021-04-29 15:14] gkwan-ibm commented on #344
gmail and yahoo mail have no this issue.
It happens on notes or verse.

[2021-05-04 16:49] gkwan-ibm opened #871 "Launch application cannot handle security port"
if the application is enabled security with a self-signed cerifiicate, users can access the `https://localhost:9443/...` urls.

But, when run Launch application with providing the port 8443, the `https://accountname-9443.theiadocker-0.proxy.cognitiveclass.ai/...` not work.

This problem need SN team to help

[2021-05-04 16:52] gkwan-ibm commented on #871
@austin0 or @jakub-pomykala would you open an issue on the SN repo?

[2021-05-04 17:33] gkwan-ibm opened #872 "Failed to run POST request by openapi/ui through Skills Network environment"
- visit /openapi/ui similar to http://accountname-9080.theiadocker-1.proxy.cognitiveclass.ai/openapi/ui
- try the POST request
- will get 500 Error: Internal Server Error

[2021-05-04 17:33] gkwan-ibm commented on #872
Opened OpenLiberty issue https://github.com/OpenLiberty/open-liberty/issues/17048

[2021-05-04 18:41] yeekangc opened #873 "Clarity load time for cloud environment"
Sometimes, it may take more than a minute to start the environment.  Update the provided information/instruction to indicate that it may take more than a minute?

@Emily-Jiang obvsered this too:
_it takes more than a minute to load up - I am wondering whether we can say it will take a couple of minutes instead of saying one minute_

[2021-05-04 18:42] yeekangc opened #874 "Shutdown issue for guides"
From @Emily-Jiang when she tried to shutdown:

[code]

[2021-05-04 18:43] yeekangc commented on #874
Emily, which guide(s) were you working with?

[2021-05-04 18:52] gkwan-ibm commented on #873
@yeekangc is it ok to add the message on the landing pages before/beside/below the `Access cloud-hosted guide` button?

[2021-05-04 19:54] gkwan-ibm commented on #871
- the app uses self-signed certificate, either SN accept it or provide us a valid certificate in the env so that the app can use
- SN can aware the port 9443 or any port is using https protocol. When SN redirect/forward urls to localhost, keep using https protocol consistently. Otherwise, if the redirection mixed with https and https, it will break the liberty web container.
- an alternative, can

[2021-05-05 17:38] gkwan-ibm commented on #872
close
- it is not a general problem
- the cause and workaround are at https://github.com/OpenLiberty/open-liberty/issues/17048#issuecomment-832879068

[2021-05-05 17:38] #872 closed, assigned to gkwan-ibm

[2021-05-05 20:05] jakub-pomykala commented on #453
Asked. Waiting for reply.

[2021-05-05 20:55] jakub-pomykala commented on #453
To clean the env without logging out users can use `exec bash`

[2021-05-05 22:17] Emily-Jiang commented on #874
The CDI guide

[2021-05-06 09:21] jamiecoleman92 commented on #874
I presume the above message is because you are not in the correct directory? It looks like you are trying to shut down Liberty from the home dir rather than the project dir.

[2021-05-06 09:22] jamiecoleman92 commented on #874
This is the default behavior for Liberty and is working as expected. Please confirm this is the case and I will close this issue @Emily-Jiang

[2021-05-06 09:23] jamiecoleman92 commented on #874
This line basically means you have no pom.xml in your directory with the liberty command:
[ERROR] No plugin found for prefix 'liberty' in the current project and in the plugin groups [org.apache.maven.plugins, org.codehaus.mojo] available from the repositories [local (/home/theia/.m2/repository), central (https://repo.maven.apache.org/maven2)] -> [Help 1]

[2021-05-10 21:57] gkwan-ibm opened #888 "Update SN to use latest maven"
currently, SN lab is using maven 3.6.0 and have the following warning
[code]

It is better to use 3.8.1+ because warnings not happen

[2021-05-13 14:21] gkwan-ibm opened #897 "More statistics for the SN labs"
We would like to know the following information/data in whatever format/way:
- how many visits to the login pages
- how many visits to the landing pages
- how many users quit/skip the labs
- how many users complete the labs
- how many users registers
  - SN already has the history for registration

Can make use of the courses support provided by SN?

[2021-05-13 14:27] gkwan-ibm opened #898 "Feedback button/menu at the SN lab"
There is a "Support" button/menu at the right side of the SN lab IDE.
Suggest to have a "Feedback" button/menu or rename "Support" to be "Support/Feedback".
Also, add a "Open Liberty guides category" category for the feedback.

[2021-05-13 14:33] gkwan-ibm commented on #897
SN issue: https://github.ibm.com/skills-network/portals/issues/1784

[2021-05-13 14:37] gkwan-ibm commented on #897
@austin0 would you make sure that the description of the SN issue [1784](https://github.ibm.com/skills-network/portals/issues/1784) cover the requirement at [this issue description](https://github.com/OpenLiberty/cloud-hosted-guides/issues/897#issue-891084407)?

[2021-05-14 15:09] austin0 commented on #897
Updated SN issue to ask for visits to landing/lab pages. I think the rest we can solve for using the metrics already requested (i.e. Completions - Initiations for people who quit).

[2021-05-17 14:59] gkwan-ibm commented on #873
Or fix in
![Screen Shot 2021-05-17 at 10 58 30 AM](https://user-images.githubusercontent.com/29576299/118510441-f5fed880-b6fe-11eb-85af-3429a1fef349.png)

[2021-05-17 16:03] gkwan-ibm commented on #898
https://github.ibm.com/skills-network/labs/issues/1037

[2021-05-18 14:05] gkwan-ibm commented on #888
Suggest to update Docker, Kubectrl, and JVM too

[2021-05-18 14:24] gkwan-ibm commented on #874
close
- it is a user error

[2021-05-18 14:24] #874 closed, assigned to jamiecoleman92

[2021-05-18 14:25] jakub-pomykala commented on #349
![Uploading Screen Shot 2021-01-29 at 9.41.26 AM.png…]()

[2021-05-18 14:55] jakub-pomykala commented on #888
Issue opened on SNL Backlog [here](https://github.ibm.com/skills-network/labs/issues/1044)

[2021-05-25 15:04] gkwan-ibm opened #931 "Improve the 404 page"
e.g. when visit `https://openliberty.skillsnetwork.site/quicklab/`, it returns as
![Screen Shot 2021-05-25 at 11 01 39 AM](https://user-images.githubusercontent.com/29576299/119520879-ac3e6f80-bd48-11eb-8ee5-c984c280dcaf.png)

Need to improve this 404 page, add link(s) to openliberty.io site and/or OLSN home page.

[2021-05-28 09:58] jakub-pomykala opened #956 "Add feedback faces into the guides"
Add the feedback faces from openliberty.io to the end of the cloud-hosted-guides section.

<img width="489" alt="Screenshot 2021-05-28 at 10 56 40" src="https://user-images.githubusercontent.com/56261244/119966607-63cebe00-bfa3-11eb-994b-84575edd318a.png">

These will have to be connected using the GA (Google analytics) and will have to contain JS script to be reactive.

Another possible way is to

[2021-06-03 15:09] yeekangc opened #994 "Use the same favicon for SNL site as openliberty.io"
Currently, our SNL portal uses the round favicon.  Use the same squarish favicon instead to be consistent with openliberty.io.

<img width="187" alt="Screen Shot 2021-06-03 at 11 10 15 AM" src="https://user-images.githubusercontent.com/4803104/120668291-53638b00-c45c-11eb-83f5-9e76f1a2a947.png">

[2021-06-03 15:10] yeekangc commented on #994
@gkwan-ibm

[2021-06-14 15:14] jakub-pomykala commented on #994
Updated on 14th of June 2021.

[2021-06-14 15:14] #994 closed, assigned to jakub-pomykala

[2021-06-14 15:15] jakub-pomykala commented on #994
@yeekangc if you could please verify that would be great.

[2021-06-15 15:34] austin0 opened #1009 "Unable to create new landing pages"
After a recent update to the SN portal the ability to create new landing pages has been removed.

Currently waiting on a reply from the SN team to have this rectified.

[2021-06-15 21:09] yeekangc commented on #994
LGTM.  Thanks, @jakub-pomykala.

[2021-06-18 19:49] gkwan-ibm opened #1024 "Should not fail all for update quick lab action"
See https://github.com/OpenLiberty/cloud-hosted-guides/actions/runs/950538101. There was a guide fail. The rest were cancelled. Should allow the action to complete all guides.

[2021-06-23 14:47] gkwan-ibm commented on #873
SN issue: https://github.ibm.com/skills-network/labs/issues/1137

[2021-06-23 15:01] gkwan-ibm commented on #829
SN issue: https://github.ibm.com/skills-network/labs/issues/1138

[2021-06-24 14:38] jakub-pomykala commented on #453
Cannot reproduce anymore.

[2021-06-24 14:54] gkwan-ibm commented on #453
Let monitor this problem longer by different people before to close it

[2021-07-08 09:34] austin0 commented on #577
Passing this off to Ryan and Jakub, should be easy to make it only run on changes to the guides (`on: ... instructions/*`). Will need a bit more work to make it only attempt to mirror the guide that had changes made to it.

[2021-07-08 14:20] gkwan-ibm commented on #453
close
- no more report for this issue

[2021-07-08 14:20] #453 closed, assigned to jakub-pomykala

[2021-07-12 17:06] gkwan-ibm commented on #593
Issue moved to [OpenLiberty/guide-containerize #102](https://github.com/OpenLiberty/guide-containerize/issues/102) via [**ZenHub**](https://www.zenhub.com/)

[2021-07-12 17:06] #593 closed, assigned to tt-le

[2021-07-12 17:10] gkwan-ibm commented on #956
close
- add Give us feedback link to the last step

[2021-07-12 17:10] #956 closed, assigned to austin0, jakub-pomykala

[2021-07-12 18:13] gkwan-ibm commented on #451
close
- all static guides were updated and the cloud-hosted guides should be picked up

[2021-07-12 18:13] #451 closed, assigned to nobody

[2021-07-12 21:15] gkwan-ibm commented on #454
may need to ask users to run the /health  api to determine the readiness

[2021-07-19 14:01] gkwan-ibm opened #1129 "Github actions not sync in prod and staging"
Following files are different in the prod and staging brach. Should they be the same or different?

- [x] DraftGuideAction.yml
[code]

- [x] RunConverterOnAllGuides.yml
[code]

- [x] mirror.yml

[code]

[2021-07-21 16:56] gkwan-ibm commented on #888
close
- issue was addressed in SN

[2021-07-21 16:56] #888 closed, assigned to jakub-pomykala

[2021-07-28 15:12] gkwan-ibm commented on #454
close
- issue was fixed

[2021-07-28 15:12] #454 closed, assigned to rutavshah

[2021-08-05 15:15] jamiecoleman92 commented on #452
@jakub-pomykala to check status of this issue.

[2021-08-05 15:21] #450 closed, assigned to nobody

[2021-08-05 15:21] jamiecoleman92 commented on #450
Closed due to moving to use courses.

[2021-08-05 15:23] jamiecoleman92 commented on #592
This guide is now live with no reported issues.

[2021-08-05 15:23] #592 closed, assigned to nobody

[2021-08-05 15:25] jamiecoleman92 commented on #349
@jakub-pomykala will provide update.

[2021-08-05 15:26] jamiecoleman92 commented on #343
This would be difficult to achieve.

[2021-08-05 15:26] #343 closed, assigned to nobody

[2021-08-05 15:27] jakub-pomykala commented on #349
![Screen Shot 2021-01-29 at 9 41 26 AM](https://user-images.githubusercontent.com/56261244/128376988-d1277f0f-7e4f-4f0f-9739-af7d329dc34b.png)

[2021-08-05 15:27] jamiecoleman92 commented on #333
We no longer use JS so this issue is now resolved.

[2021-08-05 15:27] #333 closed, assigned to nobody

[2021-08-05 15:28] jamiecoleman92 commented on #266
Not reproducible.

[2021-08-05 15:28] #266 closed, assigned to nobody

[2021-08-05 15:31] gkwan-ibm opened #1219 "Test output should be one color"
It is better to use a color for the text output or not use red instead of following screenshot.

![Screen Shot 2020-12-10 at 5 47 26 PM](https://user-images.githubusercontent.com/29576299/101839106-caecd900-3b0f-11eb-99be-d601a73f8d40.png)

[2021-08-05 15:41] jakub-pomykala commented on #1129
https://github.com/OpenLiberty/cloud-hosted-guides/pull/1220

[2021-08-05 15:54] jakub-pomykala commented on #452
This issue can be closed as guide-reactive-service-testing has been connected to the GuideConverter.

[2021-08-05 15:54] #452 closed, assigned to nobody

[2021-08-05 15:58] jakub-pomykala commented on #931
Message Michael Lin to see if it would be possible.

Will update this issue once I have an answer.

[2021-08-05 16:05] jakub-pomykala commented on #931
Skills Network do not have any plans for the near future to update the cosmetics stuff of the site.

This is a generic error site that is used by every portal not just OL-SN. So we can not customise it ourselves.

@jamiecoleman92 @gkwan-ibm

[2021-08-06 08:32] jakub-pomykala commented on #1024
@gkwan-ibm could you please verify that this issue can now be closed.

[2021-08-06 08:32] jakub-pomykala commented on #1129
@gkwan-ibm could you please verify that this issue can now be closed.

[2021-09-02 14:56] gkwan-ibm commented on #1129
close
- currently all synced

[2021-09-02 14:56] #1129 closed, assigned to jakub-pomykala

[2021-09-02 14:58] gkwan-ibm commented on #1024
close
- it works

[2021-09-02 14:58] #1024 closed, assigned to jakub-pomykala

[2021-09-08 15:40] ryan-storey opened #1264 "Improve course card images"
Whilst our current course card images are suitable and visually appealing to users, they are all exactly the same. As we will have 25 courses (and counting!), this means that there will be 25+ courses with exactly the same image, and there will be no way to differentiate except by the title below the project.

<img width="1240" alt="Screenshot 2021-09-08 at 09 58 22" src="https://user-images.githu

[2021-10-18 20:14] gkwan-ibm opened #1423 "Rename reactive message guide gitlab repo name"
Need to rename `https://gitlab.com/ibm/skills-network/quicklabs/cloud-hosted-guide-reactive-messaging` to `https://gitlab.com/ibm/skills-network/quicklabs/cloud-hosted-guide-microprofile-reactive-messaging`, but it requires to update the course, re-approve the course, reinstall the course in portal (??), and update the mirror yaml files, etc, and retest all flows.

[2021-10-18 20:16] gkwan-ibm commented on #1423
temporarily to access SN lab through
- staging: https://labs.cognitiveclass.ai/tools/theiadocker/lab/tree?md_instructions_url=https://cf-course-data-staging.s3.us-east.cloud-object-storage.appdomain.cloud/cloud-hosted-guide-reactive-messaging/instructions.md&lti=true
- prod: https://labs.cognitiveclass.ai/tools/theiadocker/lab/tree?md_instructions_url=https://cf-courses-data.s3.us.cloud-object-sto

[2022-08-12 21:34] gkwan-ibm opened #2177 "Create cloud-hosted-guide-grpc-intro"
- [x] create a guided-project
  - [x] quicklab
  - [x] gitlab
  - [ ] studio
- [ ] create course
- [x] create landing page
- [x] update GuideConverter
   - [x] [version-history-start-date.properties](https://github.com/OpenLiberty/cloud-hosted-guide-converter/blob/main/version-history-start-date.properties)
- [x] develop the instruction by dev lab
- [x] create `.github/workflows/draftTriggerConver

[2022-08-15 21:42] gkwan-ibm opened #2183 "at the first , add following files"

[2022-08-18 16:43] gkwan-ibm commented on #2183
close
- created by mistake

[2022-08-18 16:43] #2183 closed, assigned to nobody

[2022-10-18 12:29] jakub-pomykala opened #2241 "Copy button on output codeblock in technical deep dive"
There is a copy button but as this is an example output it shouldn't be there.

<img width="741" alt="Screenshot 2022-10-18 at 11 54 15" src="https://user-images.githubusercontent.com/56261244/196410978-21eabadb-3e79-4320-9a53-3d17f8f43374.png">

[2022-10-18 12:44] jakub-pomykala commented on #2241
Another one in:

"Building the application"

<img width="723" alt="Screenshot 2022-10-18 at 13 44 19" src="https://user-images.githubusercontent.com/56261244/196432791-dc9125ae-aa8b-4fc1-9794-09bfe98cbeb7.png">

[2022-10-18 12:53] jakub-pomykala commented on #2241
Another one in:

"Augmenting the existing Jakarta RESTful Web Services annotations with OpenAPI annotations"

<img width="725" alt="Screenshot 2022-10-18 at 13 52 54" src="https://user-images.githubusercontent.com/56261244/196434823-9772bb42-1bd8-4840-96f7-53022fa2b003.png">

[2022-10-18 13:29] jakub-pomykala commented on #2241
Another one in:

"Augmenting the existing Jakarta RESTful Web Services annotations with OpenAPI annotations"

<img width="719" alt="Screenshot 2022-10-18 at 14 29 38" src="https://user-images.githubusercontent.com/56261244/196443367-3aec2489-76e3-413d-9696-a2377c5f77ab.png">

[2022-10-19 09:30] jakub-pomykala commented on #2241
Error message missing in:

"Consuming the secured RESTful APIs by JWT"

<img width="723" alt="Screenshot 2022-10-19 at 10 29 38" src="https://user-images.githubusercontent.com/56261244/196653524-a6d1943a-17d0-42fa-a087-41e4e1104df7.png">

[2022-10-19 10:25] jakub-pomykala commented on #2241
Another copy button on output:

"Deploying the microservice to Kubernetes"

<img width="723" alt="Screenshot 2022-10-19 at 11 24 54" src="https://user-images.githubusercontent.com/56261244/196665919-61435055-f4d9-4683-8a93-3c09ff6d798f.png">

[2022-11-01 19:47] gkwan-ibm opened #2251 "Update the graphql-client guide landing page"
with the following description:

GraphQL is an open source data query language. Unlike REST APIs, each POST request sent to a GraphQL service goes to a single HTTP endpoint. To learn more about GraphQL, see the [Optimizing REST queries for microservices with GraphQL](https://openliberty.io/guides/microprofile-graphql.html) guide.

You'll learn how to use the SmallRye GraphQL client’s typesafe inte

[2022-11-01 22:09] jakub-pomykala commented on #2251
Staging update - verify [here](https://courses.ol-staging.skillsnetwork.site/courses/course-v1:IBM+GPXX04S5EN+v1/courseware/guided_project/guided_project/1?activate_block_id=block-v1%3AIBM%2BGPXX04S5EN%2Bv1%2Btype%40vertical%2Bblock%40guided_project_lets_do_it)

[2022-11-01 22:13] jakub-pomykala commented on #2251
Prod update -verify [here](https://courses.openliberty.skillsnetwork.site/courses/course-v1:IBM+GPXX04S5EN+v1/courseware/guided_project/guided_project/1?activate_block_id=block-v1%3AIBM%2BGPXX04S5EN%2Bv1%2Btype%40vertical%2Bblock%40guided_project_lets_do_it)

[2022-11-02 14:59] gkwan-ibm opened #2252 "Remove the unnecessary link"
Remove/hide the doubt circle link in the footer of the production landing pages

![Screen Shot 2022-11-02 at 10 57 24 AM](https://user-images.githubusercontent.com/29576299/199524038-24c66a6a-da01-423e-8687-f32913c86b44.png)

[2022-11-03 14:03] gkwan-ibm commented on #2251
close
- addressed

[2022-11-03 14:03] #2251 closed, assigned to jakub-pomykala

[2022-11-08 17:58] gkwan-ibm opened #2274 ".github/workflows/RunConverterOnAllGuides.yml not work"
Supposedly, when create a PR for the GuideConverter, the .github/workflows/RunConverterOnAllGuides.yml will be called to generate a staging PR to confirm that the converter can convert the guides correctly. It seems not work.

[2022-11-21 11:48] jakub-pomykala commented on #2252
Closing as this issue has been resolved.

[2022-11-21 11:48] #2252 closed, assigned to jakub-pomykala, ReeceNana

[2022-11-21 15:25] jakub-pomykala commented on #2274
Converter repo PR triggers the action but no changes in any of the guides.